<h1>Sample App</h1>
<p>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>
This arranges for a top-level heading ( <h1> ) with the content Sample App , which should get
the test to pass. We also include an anchor tag a , which creates links to the given URI (called
an “href”, or “hypertext reference”, in the context of an anchor tag):
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>